html,
header
{
	height: 250px;
	width: 100%;
	background-color: white;
	box-shadow: 0 10px 10px -10px gainsboro;
}
	
.logo{
	display: flex;
	justify-content: center;
}

img {
	max-width: 100%;
}

p{
	font-family: "微软雅黑";
	text-align: center;
}

.nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.list{
	color: black;
	font-family: "微软雅黑";
	text-decoration: none;
}
.banner{
	width: 100%;
	margin: 2% 0%;
	overflow: hidden;
}

.banner img{
	max-width: 100%;
	border-radius:25px;
	display: flex;
	justify-content: center;
}

.single{

	width: 100%;
	overflow: hidden;

}

.single-slide {

  padding: 20px;

  color: #fff;

}

.sing{

	width: 30%;

	border-radius: 10px;

	/*height: 200px;*/

	background: white;

	float: left;

	margin: 2% 1.5%;

	overflow: hidden;

	text-decoration: none;

	box-shadow: 2px 2px 2px gainsboro;

	position: relative;

}

.sing2{

	margin: 2% 1.5%;

}
	
.sing img{

	width: 100%;

	float: left;

}

.sing p{
	clear: both;
	text-align: center;
	line-height: 60px;
	font-family: 微软雅黑;
	font-size: 15px;
	color: gray;
	white-space: nowrap;
}
	
.sing:hover{
		box-shadow: 3px 3px 3px darkgray;
	}

.single .sing:nth-child(n){

	width: 20%;

	margin-top: 2%;

	margin-left: 8%;

	margin-right: 4%;

}

.single .sing:nth-child(2n+1){

	width: 20%;
	margin-top: 2%;
	margin-left: 8%;
	margin-right: 4%;

}

.footer{
	background: darkgrey;
	width: 100%;
	height: 100px;
}

.footer p{
	color: white;
}

@media screen and (max-width: 1201px){

.sing{
	max-width: 100%;
}

}

@media screen and (max-width: 641px) {
.sing p{
	line-height: 25px; }
.sing{
	width: 100%;
}

}

@media screen and (max-width: 480px){
	
}
